html,body,div{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.fc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}